@import url('./node_modules/bootstrap/dist/css/bootstrap.css');

#new-student-start-studies-year {
  -moz-appearance: textfield;
}

#new-student-start-studies-year::-webkit-inner-spin-button,
#new-student-start-studies-year::-webkit-outer-spin-button {
  display: none;
  margin: 0;
  -webkit-appearance: none;
}

form p:not(:last-child) {
  margin-bottom: 2px;
}

form p:last-child {
  margin-bottom: 0;
}
